<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>{% block title %}{% endblock %} - Report Generation</title>
    <script src="{{ url_for('static', filename='Chart.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='Chart.bundle.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:medium,regular" rel="stylesheet">
  </head>
  <body>
    <nav class="nav">
      <h3>Report Generation</h3>
      <ul>
          <li class="justify-content-end nav-item"><a class="nav-link active"href="{{ url_for('upload.upload_file') }}">Upload</a>
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
